@model IEnumerable<RecipeBlog.Models.Recipe>


@foreach (var r in Model)
{

    <article class="post">
        <header>
            <div class="title">
                <h3>@Html.ActionLink(r.Title, "article", new { SEName = r.SEName, id = r.Id })</h3>
            </div>
            <div class="meta">
                <time class="published" datetime="@r.DisplayPublishDateUS">@r.DisplayPublishDateUS</time>
            </div>
        </header>
        @if (r.ImageName != null)
        {
            <a href="/food/article/@r.SEName/@r.Id" class="image featured"><img src="/images/@r.ImageName" alt="" /></a>
        }
        <p>@r.Blurb</p>
        <footer>
            <ul class="actions">
                <li>
                    @Html.ActionLink("Continue Reading", "article", new { SEName = r.SEName, id = r.Id }, new { @class = "button big" })
                </li>
            </ul>
        </footer>
    </article>

}
