@model RecipeBlog.Models.Recipe
@using RecipeBlog.Helpers

@{
    ViewBag.Title = "ScrubLuv - " +  Model.Title;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<div class="recipe">

    <span class="sub-info" ><time datetime="@Html.DisplayFor(model => model.PublishDate)">@Html.DisplayFor(model => model.PublishDate)</time></span>
    <span class="sub-info" ><strong>&bull;</strong></span>
    <span class="sub-info">Preparation Time: @Html.DisplayFor(model => model.PrepTime)</span>


    <article>
        <hr />
        <img class="image featured" src="/images/@Html.DisplayFor(model => model.ImageName)" alt="@Html.DisplayFor(model => model.Title)">

        <section class="piece">
            @Html.DisplayFor(model => model.Blurb)
        </section>

        <section class="piece">
            <header>Ingredients</header>
            @Html.Raw(Model.Ingredients)
        </section>

        <section class="piece">
            <header>Quick Instructions
                <div class="sub-head">If you need more details, <a href="#details">they're further down</a>.</div></header>
            
            @Html.Raw(Model.QuickInstructions)
        </section>

        <section class="piece"><a name="details"></a>
            <header>Detailed Instructions</header>
            @Html.Raw(Model.FullInstructions)
        </section>
        <section class="piece">
            @CustomHelpers.CategoryTagList(Model.SelectedCategories)
        </section>

    </article>
    <div class="btn-lg action-link">
        @Html.ActionLink("Back", "Index")
    </div>

</div>
